<!-- Commands
Vehicle claim & lock
/vclaim — Claim vehicle & add storage

/vlock — Deploy codelock

/vunclaim — Unclaim vehicle

Bgrade & remove tool
/bgrade 0 — Disable BGrade

/bgrade 1 — Enable automatic Wood upgrades

/bgrade 2 — Enable automatic Stone upgrades

/bgrade 3 — Enable automatic Metal upgrades

/bgrade 4 — Enable automatic Armoured upgrades

Kits
/kit — Open kit menu

Home
/home add <name> — Create home

/home <name> — Teleport to home

/home remove <name> — Remove home

/home list — List of saved homes

Teleportation
/tpr <player> — Request a teleport

/tpa — Accept a teleport

/outpost — Teleport to outpost

/bandit — Teleport to bandit

/tpc — Cancel the teleport

Skins
/skin — Move item to container and choose skin -->

<div class="card second-card">
  <div class="container">
    <div class="row">
      <div class="card-header"><h2>All commands</h2></div>
    </div>
    <div class="row mt-2 mb-4">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a
            class="list-group-item list-group-item-action list-group-item-info active"
            id="list-tp-list"
            data-bs-toggle="list"
            href="#list-tp"
            role="tab"
            aria-controls="list-tp"
            >Teleportation</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-info"
            id="list-home-list"
            data-bs-toggle="list"
            href="#list-home"
            role="tab"
            aria-controls="list-home"
            >Home</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-info"
            id="list-vehicles-list"
            data-bs-toggle="list"
            href="#list-vehicle"
            role="tab"
            aria-controls="list-vehicle"
            >Vehicles</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-info"
            id="list-bgrade-list"
            data-bs-toggle="list"
            href="#list-bgrade"
            role="tab"
            aria-controls="list-bgrade"
            >Bgrade & Remove</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-info"
            id="list-skin-list"
            data-bs-toggle="list"
            href="#list-skin"
            role="tab"
            aria-controls="list-skin"
            >Skins</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-info"
            id="list-levels-list"
            data-bs-toggle="list"
            href="#list-levels"
            role="tab"
            aria-controls="list-levels"
            >Levels</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-info"
            id="list-raidbase-list"
            data-bs-toggle="list"
            href="#list-raidbase"
            role="tab"
            aria-controls="list-raidbase"
            >Raidable bases</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-info"
            id="list-other-list"
            data-bs-toggle="list"
            href="#list-other"
            role="tab"
            aria-controls="list-other"
            >Other</a
          >
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="list-tp"
            role="tabpanel"
            aria-labelledby="list-tp-list"
          >
            <h2>Teleportation Commands</h2>
            <span
              >/tpr PLAYER -- Sends tp request <br />
              /tpa -- Accept incoming tp request <br />
              /tpc -- Cancel tp request <br />
              /outpost -- Teleport to Outpost <br />
              /bandit -- Teleport to Bandit
              /tpinfo -- Shows limits and cooldowns</span
            >
          </div>
          <div
            class="tab-pane fade"
            id="list-home"
            role="tabpanel"
            aria-labelledby="list-home-list"
          >
            <h2>Home Commands</h2>
            <span
              >/home add NAME -- Creates home with given name <br />
              /home remove NAME -- Removes home with given name <br />
              /home list -- Lists all homes <br />
              /home NAME -- Teleport to home</span
            >
          </div>
          <div
            class="tab-pane fade"
            id="list-vehicle"
            role="tabpanel"
            aria-labelledby="list-vehicles-list"
          >
            <h2>Vehicle Commands</h2>
            <span
              >/vclaim -- Claims vehicle <br />
              /vunclaim -- Unclaims vehicle <br />
              /vlock -- Add codelock to vehicle</span
            >
          </div>
          <div
            class="tab-pane fade"
            id="list-bgrade"
            role="tabpanel"
            aria-labelledby="list-bgrade-list"
          >
            <h2>Bgrade & Remove Commands</h2>
            <span
              >/bgrade 0 -- Disable BGrade <br />
              /bgrade 1 -- Enable automatic Wood upgrades <br />
              /bgrade 2 -- Enable automatic Stone upgrades <br />
              /bgrade 3 -- Enable automatic Metal upgrades <br />
              /bgrade 4 -- Enable automatic Armoured upgrades <br />
              /remove -- Activates remove tool</span
            >
          </div>
          <div
            class="tab-pane fade"
            id="list-skin"
            role="tabpanel"
            aria-labelledby="list-skin-list"
          >
            <h2>Skins Commands</h2>
            <span
              >/skin -- Open skin box <br>
              /reskin -- Give current item random skin</span
            >
          </div>
          <div
            class="tab-pane fade"
            id="list-levels"
            role="tabpanel"
            aria-labelledby="list-levels-list"
          >
            <h2>Levels Commands</h2>
            <span
              >/stats -- Display stats <br>
              /statsui -- Toggle stats ui <br>
              /statsinfo -- Display stats info</span
            >
          </div>
          <div
            class="tab-pane fade"
            id="list-other"
            role="tabpanel"
            aria-labelledby="list-other-list"
          >
            <h2>Other Commands</h2>
            <span
              >/kit -- Open kit menu <br>
              /voteday -- Participate to vote day <br>
              /auth -- Generates a code which players can send to Kveddo Bot in discord <a href="https://discord.gg/sNTQgyRqRy"><img src="../public/img/discord-join.png" alt="discord" style="height: 50px;"></a>
              <i>Authenticated players get all VIP1 features</i></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
