<div class="card second-card">
    <h2>Contact</h2>
    <p>If you want to contact me, please join the discord below and create a ticket</p>
    <iframe src="https://discord.com/widget?id=993507172212293712&theme=dark" width="90%" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" style="margin: auto auto;"></iframe>
</div>