<div class="card second-card">
    <div class="card-header mt-2">
        <h5 class="card-title first-card-title">Store</h5>
        <p>Running an rust server is not free, therefor there are some available VIP groups to purchase</p>
        <p>More will be added to groups along the way</p>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Store page is not complete, no orders shall be fulfilled</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <div class="accordion" id="defaultvalues">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed bg-info" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Default Server Values
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>Max homes: 2</p>
                        <p>Backpack rows: 2</p>
                        <p>Teleports per day: 10</p>
                        <p>Teleport cooldown: 600sec</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <p>All VIP ranks come with donator role in discord and always prioritized spot on the server</p>
                    <div class="col">
                        <div class="card third-card">
                            <div class="card-header"><span style="color: #e3a909;">VIP1</span>
                                <h2>5$</h2>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item vip-green rounded-pill">VIP1 Daily kit</li>
                                    <li class="list-group-item vip-green rounded-pill mt-1">+1 row in backpack</li>
                                    <li class="list-group-item vip-green rounded-pill mt-1">+1 Home</li>
                                    <li class="list-group-item vip-green rounded-pill mt-1">+10 Teleports</li>
                                    <li class="list-group-item vip-red rounded-pill mt-1">60sec cooldown</li>
                                    <li class="list-group-item vip-red rounded-pill mt-1">No vehicle decay</li>
                                </ul>
                                <% if (!user) { %>
                                <p>Login to buy</p>
                                <% } else { %>
                                <form action="/pay" method="post">
                                    <input type="submit" value="Buy">
                                </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card third-card">
                            <div class="card-header"><span style="color: #c6e309;">VIP2</span>
                            <h2>15$</h2>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item vip-green rounded-pill">VIP2 Daily kit</li>
                                    <li class="list-group-item vip-green rounded-pill mt-1">+2 row in backpack</li>
                                    <li class="list-group-item vip-green rounded-pill mt-1">+2 Home</li>
                                    <li class="list-group-item vip-green rounded-pill mt-1">+20 Teleports</li>
                                    <li class="list-group-item vip-green rounded-pill mt-1">60sec cooldown</li>
                                    <li class="list-group-item vip-red rounded-pill mt-1">No vehicle decay</li>
                                </ul>
                                <% if (!user) { %>
                                <p>Login to buy</p>
                                <% } else { %>
                                <div class="btn">
                                    Buy now
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card third-card">
                            <div class="card-header"><span style="color: #09e35d;">VIP3</span>
                            <h2>25$</h2>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group">
                                    <li class="list-group-item vip-green rounded-pill">VIP3 Daily kit</li>
                                    <li class="list-group-item vip-green rounded-pill mt-1">+3 row in backpack</li>
                                    <li class="list-group-item vip-green rounded-pill mt-1">+3 Home</li>
                                    <li class="list-group-item vip-green rounded-pill mt-1">+30 Teleports</li>
                                    <li class="list-group-item vip-green rounded-pill mt-1">60sec cooldown</li>
                                    <li class="list-group-item vip-green rounded-pill mt-1">No vehicle decay</li>
                                </ul>
                                <% if (!user) { %>
                                <p>Login to buy</p>
                                <% } else { %>
                                <div class="btn">
                                    Buy now
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="../public/js/store.js"></script>